@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

@keyframes gridMove {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(60px);
  }
}

.animate-gridMove {
  animation: gridMove 12s linear infinite;
}

/* Legal page typography fix */

.custom-legal {
  line-height: 1.9;
  font-size: 16px;
  color: #cfcfcf;
  word-break: break-word;
  overflow-wrap: anywhere;
}

/* paragraph spacing */
.custom-legal p {
  margin-bottom: 18px;
}

/* headings */
.custom-legal h1,
.custom-legal h2,
.custom-legal h3,
.custom-legal h4 {
  color: white;
  font-weight: 800;
  margin-top: 28px;
  margin-bottom: 12px;
}

/* list fix */
.custom-legal ul {
  list-style: disc;
  padding-left: 24px;
  margin-bottom: 18px;
}

.custom-legal li {
  margin-bottom: 8px;
}

/* link */
.custom-legal a {
  color: #a855f7;
  text-decoration: underline;
  word-break: break-all;
}

/* code / long text fix */
.custom-legal pre,
.custom-legal code {
  white-space: pre-wrap;
  word-break: break-word;
}

/* এডিটরের ভেতরের এরিয়াকে হাইট দেওয়া */
.ql-container.ql-snow {
  border: none !important;
}

.ql-editor {
  min-height: 300px; /* আপনার পছন্দমতো হাইট দিন */
  font-size: 16px;
}


/* এটি এলিমেন্টকে স্ক্রিন থেকে লুকিয়ে ফেলবে কিন্তু সার্চ ইঞ্জিন পড়তে পারবে */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}